!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=,
ndbapi=
DefaultOperationRedoProblemAction=queue

[mysqld]
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-extra-logging=99
information_schema_stats_expiry=0

[cluster_config.mysqld.1.1]
NodeId=49
Dedicated=1

[cluster_config.mysqld.2.1]
NodeId=16
Dedicated=1

[mysqld.1.1]
ndb-nodeid=49

[mysqld.2.1]
ndb-nodeid=16

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir
